<nav
  class="grid grid-cols-3 h-0 dark:bg-gray-600 md:h-20 initial top-0 left-0 w-full text-blueGray-300 z-10 bg-white md:flex-row md:flex-nowrap md:justify-start flex justify-between"
>
  <div
    class="flex col-span-1 p-4 justify-center items-center border-slate-50 border-1"
  >
    <p>
      <a class="text-sm hidden lg:inline-block m-3">Popular </a>
    </p>
    <p>
      <a class="text-sm hidden lg:inline-block m-3">For You </a>
    </p>
    <p>
      <a class="text-sm hidden lg:inline-block m-3">Messages</a>
    </p>
  </div>
  <div
    class="flex col-span-2 justify-between border-1 border-c"
    *ngIf="userData$ | async as users"
  >
    <form
      class="md:flex hidden flex-row flex-1 flex-wrap items-center lg:ml-auto mr-3 w-full px-4"
    >
      <div class="relative flex flex-wrap items-stretch">
        <span
          class="z-10 h-full leading-snug font-normal absolute text-center absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
          ><i class="fa fa-search"></i
        ></span>
        <input
          type="text"
          placeholder="Search Messages"
          class="border-transparent py-3 placeholder-blueGray-300 relative bg-transparent rounded text-sm outline-none focus:outline-none focus:ring w-full pl-10"
        />
      </div>
    </form>
    <div
      class="flex-col items-center md:flex-row hidden flex-1 md:flex justify-end px-6 gap-30"
      *ngFor="let user of users.results"
    >
      <span class="m-4"><i class="fa-solid fa-bell"></i></span>
      <span
        class="w-12 h-12 m-4 text-sm inline-flex items-center justify-center rounded-full"
      >
        <img
          alt="..."
          class="w-full rounded-full align-middle border-none shadow-lg"
          src="{{ user?.picture?.large }}"
        />
      </span>
      <p class="text-sm m-4">
        {{ user?.name?.title }} {{ user?.name?.first }}
        {{ user?.name?.last }}
      </p>
      <span class="m-4"><i class="fa-solid fa-chevron-down"></i></span>
    </div>
  </div>
</nav>
