<app-sidebar></app-sidebar>
<div class="relative md:ml-64 bg-blueGray-100">
  <app-navbar></app-navbar>
  <div
    class="relative text-xs items-center px-4 md:px-10 mx-auto w-full md:pt-28 pb-5 flex justify-between text-gray-400"
  >
    <div class="flex bg-blueGray-100 items-center">
      <span class="mr-2"><i class="fa-solid fa-table"></i></span>
      <h2>Dashboard</h2>
    </div>
    <div class="px-5 h-7 flex">
      <div class="sm:hidden">
        <label for="tabs" class="">Select your country</label>
        <select
          id="tabs"
          class="border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option>Today</option>
          <option>Week</option>
          <option>Month</option>
          <option>Year</option>
        </select>
      </div>
      <ul
        class="hidden text-xs text-center px-5 divide-x divide-gray-200 rounded-full h-6 shadow sm:flex"
      >
        <li class="w-full">
          <a
            href="#"
            class="inline-block w-full px-3 pt-1 rounded-full focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-transparent"
            aria-current="page"
            >Today</a
          >
        </li>
        <li class="w-full">
          <a
            href="#"
            class="inline-block px-3 pt-1 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-transparent dark:hover:bg-gray-700"
            >Week</a
          >
        </li>
        <li class="w-full">
          <a
            href="#"
            class="inline-block px-3 pt-1 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-transparent dark:hover:bg-gray-700"
            >Month</a
          >
        </li>
        <li class="w-full">
          <a
            href="#"
            class="inline-block px-3 pt-1 w-full bg-white rounded-r-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:text-white dark:bg-transparent dark:hover:bg-gray-700"
            >Year</a
          >
        </li>
      </ul>
      <div
        class="ml-3 bg-transparent h-6 flex items-center rounded-full px-5 py-0 shadow"
      >
        <span class="mr-2"><i class="fa-solid fa-calendar-day"></i></span>
        <a href="#" class="" aria-current="page">24 Mar - 23 Apr 2019</a>
      </div>
    </div>
    <div
      class="bg-transparent h-6 flex items-center rounded-full px-5 py-0 shadow"
    >
      <span class="mr-2"><i class="fa-solid fa-plus"></i></span>
      <a href="#" class="" aria-current="page">Add Widget</a>
    </div>
  </div>
  <div class="relative pt-4">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full pr-4 max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">Clicks</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>670</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-emerald-500 mr-1"
                        ><i class="fa-solid fa-chevron-up"></i
                      ></span>
                      <h5 class="text-sm">3.48%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">Impresions</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>1.256</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-emerald-500 mr-1"
                        ><i class="fa-solid fa-chevron-up"></i
                      ></span>
                      <h5 class="text-sm">5.32%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">CTR</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>21.0%</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-emerald-500 mr-1"
                        ><i class="fa-solid fa-chevron-up"></i
                      ></span>
                      <h5 class="text-sm">89.1%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">Click Conversion</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>34</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-emerald-500 mr-1"
                        ><i class="fa-solid fa-chevron-up"></i
                      ></span>
                      <h5 class="text-sm">0.48%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative justify-center flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">View Conversions</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>22</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-red-500 mr-1"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                      <h5 class="text-sm">-10.3%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/6 xl:w-1/6 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
            >
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div
                    class="relative w-full max-w-full flex-grow flex-1 text-center"
                  >
                    <h5 class="text-blueGray-400 text-xs">Total Conversions</h5>
                    <span class="font-semibold text-2xl text-blueGray-400 my-2">
                      <h2>290</h2>
                    </span>
                    <span class="mr-2 flex justify-center mt-2">
                      <span class="text-red-500 mr-1"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                      <h5 class="text-sm">-3.48%</h5>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-10 mx-auto w-full">
    <div class="flex flex-wrap mt-4">
      <div class="w-full mb-12 xl:mb-0 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
        >
          <div class="block w-full overflow-x-auto">
            <table
              class="chart items-center w-full bg-transparent border-collapse"
            >
              <thead>
                <tr>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    Dounle Click Campaing Stats
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    <i class="fa-solid fa-ellipsis"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    class="p-2 align-middle px-6 w-full text-xs whitespace-nowrap text-left"
                  >
                    750%
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-2"
                  >
                    1000
                  </td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 p-2 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    500%
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td
                    class="p-2 align-middle px-6 w-full text-xs whitespace-nowrap text-left"
                  >
                    500
                  </td>
                </tr>
                <tr>
                  <td
                    class="p-2 align-middle px-6 w-full text-xs whitespace-nowrap text-left"
                  >
                    250%
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 p-2 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    0%
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td
                    class="align-middle px-6 w-full text-xs whitespace-nowrap text-left"
                  >
                    0%
                  </td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-10 mx-auto w-full">
    <div class="flex flex-wrap mt-4">
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
        >
          <div class="block w-full overflow-x-auto">
            <table class="items-center w-full bg-transparent border-collapse">
              <thead>
                <tr>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    Channel
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    Sesions
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    % of Traffic
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    Goal Rate
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    Goals
                  </th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  ></th>
                  <th
                    class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                  >
                    <i class="fa-solid fa-ellipsis"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    Direct
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    3,345
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    46,5%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    4,54%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    23
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    <div class="flex items-center">
                      <div style="width: 60px" class="relative w-45">
                        <div
                          class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                        >
                          <div
                            style="width: 30px"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    Email
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    2,234
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    6,50%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    12,54%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    22
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    <div class="flex items-center">
                      <div style="width: 60px" class="relative w-45">
                        <div
                          class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                        >
                          <div
                            style="width: 10px"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    Referral
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    234
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    78,5%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    0,54%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    123
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    <div class="flex items-center">
                      <div style="width: 60px" class="relative w-45">
                        <div
                          class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                        >
                          <div
                            style="width: 50px"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    Organic Search
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    6,343
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    32,2%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    23,34%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    34
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    <div class="flex items-center">
                      <div style="width: 60px" class="relative w-45">
                        <div
                          class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                        >
                          <div
                            style="width: 60px"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                  >
                    Paid Search
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    230
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    0,5%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    4,34%
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                  >
                    2
                  </td>
                  <td
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  >
                    <div class="flex items-center">
                      <div style="width: 60px" class="relative w-45">
                        <div
                          class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                        >
                          <div
                            style="width: 6px"
                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
        >
          <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                <th
                  class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                >
                  Top Cities
                </th>

                <th
                  class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                ></th>
                <th
                  class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-right"
                >
                  <i class="fa-solid fa-ellipsis"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                >
                  City
                </td>

                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                >
                  Customers
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    <div style="width: 0px" class="relative w-45">
                      <div
                        class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                      >
                        <div
                          style="width: 30px"
                          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                >
                  Ottawa
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                >
                  106
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    <div style="width: 60px" class="relative w-45">
                      <div
                        class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                      >
                        <div
                          style="width: 55px"
                          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                >
                  Calgary
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                >
                  7
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    <div style="width: 60px" class="relative w-45">
                      <div
                        class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                      >
                        <div
                          style="width: 7px"
                          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                >
                  Toronto
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                >
                  55
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    <div style="width: 60px" class="relative w-45">
                      <div
                        class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                      >
                        <div
                          style="width: 23px"
                          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td
                  class="border-t-0 px-6 align-middle w-full border-l-0 border-r-0 text-xs whitespace-nowrap text-left"
                >
                  New York
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs text-right whitespace-nowrap"
                >
                  54
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  <div class="flex items-center">
                    <div style="width: 60px" class="relative w-45">
                      <div
                        class="overflow-hidden h-2 text-xs flex w-30 rounded bg-purple-200"
                      >
                        <div
                          style="width: 20px"
                          class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-purple-500"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
